<!DOCTYPE html>
<html>
<head>
  <title>Sua Página Inicial</title>
</head>
<body>
<h1>Bem-vindo(a) à sua aplicação do Consultório Odontológico Sorria Bem!</h1>

<div class="links">
  <%= link_to 'Ver todos os dentistas', dentists_path, class: 'btn btn-primary' %>
  <%= link_to 'Agendar Consulta', '/agendar_consulta', class: 'btn btn-primary' %>
</div>
</body>
</html>
